/* Layout */
div.top_background {
    background: #08a0ff;
    width: 100%;
}

/* Pages */
.page_offset {
    padding: 10px;
}

th.text-holder {
    width: 40%;
}

th.number-holder {
    width: 12%;
}

.calendar_cell {
    font-size: 0.8em;
    height: 5em;
}